extends layout

block content
  link(rel="stylesheet", href="")
  script(src="")
  h1 네모로직 구현해보기
  form
    input(type="checkbox", value="1", name="p_block1")
    input(type="checkbox",  value="1", name="p_block2")
    input(type="checkbox",  value="1", name="p_block3")
    input(type="checkbox", value="1", name="p_block4")
    input(type="checkbox", value="1", name="p_block5")
    button 


    
