extends ../laylout

block content
    link(rel = "stylesheet" href="/css/detail.css")
    script(src ="/js/detail.js")
    div
        strong ISBN
        span= BK.isbn 
    div
        strong 도서명
        span 
    div
        strong 저자
        span 
    div
        strong 출판사
        span 
    div
        strong 가격
        span 
    div
        strong 할인가
        span 